/IEC-PROJECT/Backend/iec-server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/IEC-PROJECT/Backend/iec-server/.gradle/buildOutputCleanup/cache.properties
/IEC-PROJECT/Backend/iec-server/.gradle/9.2.1/checksums/checksums.lock
/.idea/compiler.xml
/IEC-PROJECT/Backend/iec-server/.gradle/9.2.1/executionHistory/executionHistory.lock
/IEC-PROJECT/Backend/iec-server/.gradle/9.2.1/fileHashes/fileHashes.lock
/IEC-PROJECT/Backend/iec-server/.gradle/9.2.1/gc.properties
/IEC-PROJECT/Backend/iec-server/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/IEC-PROJECT/Backend/iec-server/.gradle/9.2.1/fileChanges/last-build.bin
/.idea/misc.xml
/.idea/modules.xml
/IEC-PROJECT/Backend/iec-server/build/reports/problems/problems-report.html
/.idea/vcs.xml
/.idea/WS101-D-PROJECT-Automated-Information-and-Education-Campaign.iml
