@import url("/css/colors.css");
@import url("/css/component/header.css");
@import url("/css/component/sidebar.css");
@import url("/css/component/footer.css");
@import url("/css/auth.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
  width: 100%;
  padding-top: 70px;
}

/* -------------------- SERVICES SECTION -------------------- */
.container > .services-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.services-section > .section-box {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.section-box > .our-services {
  width: 95%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: blue;
  color: #fff;
  text-align: center;
  border-radius: 12px;
}

.section-box > .our-services > h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Times New Roman";
}

.section-box > .our-services > p {
  width: 40%;
  font-size: 0.9rem;
}

.section-box > .services-box {
  /* width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; */
  width: 95%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 22px;
}

.section-box > .services-box > .service-box {
  min-width: 295px;
  width: 295px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.section-box > .services-box > .service-box > .img-box {
  width: 100%;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-box > .services-box > .service-box > .img-box > div {
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 50px;
}

.section-box .services-box > .service-box > .img-box > div > img {
  width: 80px;
  height: 80px;
}

.section-box .services-box > .service-box > .img-box > .img-box1 {
  border: 2px solid green;
}

.section-box .services-box > .service-box > .img-box > .img-box2 {
  border: 2px solid #007bff;
}

.section-box .services-box > .service-box > .img-box > .img-box3 {
  border: 2px solid #222222;
}

.section-box .services-box > .service-box > .img-box > .img-box4 {
  border: 2px solid orange;
}

.section-box .services-box > .service-box > .img-box > div img {
  width: 100%;
  height: 100%;
}

.section-box .services-box > .service-box > strong {
  font-size: 0.9rem;
}

.section-box .services-box > .service-box > p {
  font-size: 0.9rem;
}

.section-box .services-box > .service-box > ul {
  padding-left: 20px;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .section-box .our-services > p {
    width: 60%;
  }

  .section-box .services-box {
    justify-content: space-evenly;
  }

  .section-box .services-box > .service-box {
    width: 295px;
  }
}

@media (max-width: 425px) {
  .section-box .our-services > h3 {
    font-size: 1.5rem;
  }

  .section-box .our-services > p {
    width: 80%;
    font-size: 0.8rem;
  }

  .section-box .services-box > .service-box {
    width: 100%;
  }
}
