@import url(../colors.css);
@import url(../component/header.css);

* {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
    padding-top: 50px;
}