@import url("/css/colors.css");
@import url("/css/component/header.css");
@import url("/css/component/sidebar.css");
@import url("/js/section/popFlyer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
  /* width: 100%;
  min-height: 98vh;
  padding-top: 130px; */
  
  width: 100%;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.container section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.container section .section-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

/* FLYER SEARCH */
.container section .flyer-navbar-container {
  position: fixed;
  top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 40px;
  background: var(--bg-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  z-index: 900;
}

.container section .flyer-navbar-container h2 {
  text-wrap: nowrap;
}

.container section .flyer-navbar-container .search-bar-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.container section .flyer-navbar-container .search-bar-container select,
.container section .flyer-navbar-container .search-bar-container input {
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.09);
}

.container section .flyer-navbar-container .search-bar-container button {
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  padding: 5px 12px;
  border-radius: 10px;
  border: none;
  background: var(--primary-color);
  cursor: pointer;
}

.container section .flyer-navbar-container .search-bar-container button:hover {
  background: var(--accent-color);
}

/* UPDATE FLYER FORM */
/* .container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
} */

.container .wrap {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 460px;
  align-items: start;
  gap: 20px;
  padding-top: 40px;
  margin-right: auto;
}

.container .wrap .panel {
  display: flex;
  flex-direction: column;
  background: var(--card-color);
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container .wrap .panel h3 {
  font-size: 20px;
  margin: 0 0 12px 0;
  font-weight: 700;
}

.container .wrap .panel p {
  color: var(--muted-color);
  font-size: 13px;
  margin-top: 10px;
}

.container .wrap .panel label {
  font-size: .9rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.container .wrap .panel select,
.container .wrap .panel input[type="text"],
.container .wrap .panel textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
}

.container .wrap .panel textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
}

.container .wrap .panel .post-btn-box {
  margin-top: 40px;
}

.container .wrap .panel .post-btn-box .postBtn {
  width: 235px;
  font-size: .9rem;
  font-weight: bold;
  color: #fff;
  padding: 5px 8px;
  border: none;
  border-radius: 6px;
  background: blue;
  cursor: pointer;
}

.container .wrap .panel .post-btn-box .postBtn:hover {
  background: darkblue;
}

/* right column (preview + posted flyers) */
.container .wrap .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .wrap .right .preview {
  max-width: 100%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  background: var(--card-color);
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container .wrap .right .preview .livePreview {
  display: flex;
  flex-direction: column;
}

.container .wrap .right .preview .livePreview .images{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.container .wrap .right .preview .livePreview .images img {
  max-width: 100%;
  min-width: 200px;
  height: 200px;
}

.container .wrap .right .preview .livePreview .images .carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .wrap .right .preview .livePreview .images .carousel .carousel-btn {
  width: 20px;
  height: 40px;
  font-size: 2.5rem;
  margin: 8px;
  border: none;
  background: transparent;
  text-align: center;
  cursor: pointer;
}

.container .wrap .right .preview .livePreview .pvCategory strong {
  font-size: .8rem;
}

.container .wrap .right .preview .livePreview #pvDesc p {
  font-size: .9rem;
  white-space: pre-wrap;
  margin-top: 20px;
}

/* NO FLYERS NOTICE */
.container section .section-box .no-flyers-notice {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- FLYER LIST ----- */
.container section .section-box .flyer-list {
  width: 99.6%;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 10px;
  padding-top: 60px;
}

.flyer-list .flyerWrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flyer-list .flyerWrapper .actionWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.flyer-card {
    /* display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; */
    position: relative;
    width: 295px;
    max-height: 440px;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 200px;
}

.carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel-inner img.active {
    display: block;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.carousel-prev {
    left: 5px;
}

.carousel-next {
    right: 5px;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    /* font-size: 14px;
    color: #666; */
    display: -webkit-box;
    font-size: 0.9rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

#read-more-btn {
    width: fit-content;
    font-size: .9rem;
    color: #fff;
    padding: 5px 8px;
    background: blue;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
}

#read-more-btn:hover {
    background: darkblue;
}

.author-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 0px 10px 10px 10px;
    overflow: hidden;
}

.author-container p {
    font-size: 14px;
    color: #666;
}

#delete-btn,
#cancel-btn {
    font-size: .9rem;
    color: #fff;
    padding: 5px 8px;
    background: red;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#delete-btn:hover,
#cancel-btn:hover {
    background: darkred;
}

.declinedIndicator {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: .9rem;
  color: white;
  padding: 5px 8px;
  background: red;
  border: none;
  border-radius: 6px;
}

.action-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#update-btn,
#approved-btn {
    font-size: .9rem;
    color: #fff;
    padding: 5px 8px;
    background: green;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#update-btn:hover,
#approved-btn:hover {
    background: darkgreen;
}


@media (max-width: 768px) {
  .container section .flyer-navbar-container {
    justify-content: flex-end;
  }

  .container section .flyer-navbar-container h2 {
    display: none;
  }

  .container section .flyer-navbar-container .search-bar-container select,
  .container section .flyer-navbar-container .search-bar-container input {
    padding: 5px 8px;
  }

  .container section .flyer-navbar-container .search-bar-container button {
    padding: 5px 12px;
  }

  .container section .section-box .no-flyers-notice h2 {
    font-size: 1.4rem;
  }

  .container section .section-box .flyer-list {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .container section .flyer-navbar-container {
    width: 100%;
    padding: 10px 20px;
  }

  .container section .flyer-navbar-container .search-bar-container select,
  .container section .flyer-navbar-container .search-bar-container input {
    font-size: 0.8rem;
    width: 100%;
  }

  .container section .flyer-navbar-container .search-bar-container button {
    font-size: 0.8rem;
  }

  .container section .section-box .no-flyers-notice h2 {
    font-size: 1.2rem;
  }

  .container section .section-box .flyer-list {
    width: 90%;
    gap: 20px;
  }
}