@import url("/css/colors.css");
@import url("/css/component/header.css");
@import url("/css/component/sidebar.css");
@import url("/css/component/footer.css");
@import url("/css/auth.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.home-container {
  width: 100%;
  padding-top: 70px;
}

.home-container > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
}

.home-container > section > .section-box {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.home-container section .section-box .img-box {
  position: relative;
  width: 100%;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.home-container section .section-box .img-box .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(110, 201, 94, 0),
    rgba(110, 201, 94, 0.5),
    rgba(110, 201, 94, 0.71),
    rgba(110, 201, 94, 0.75),
    rgba(110, 201, 94, 1)
  );
  z-index: 501;
}

.home-container section .section-box .img-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.home-container section .section-box .img-box p {
  position: absolute;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Pristina";
  color: #fff;
  text-align: center;
  z-index: 502;
}

.glow {
  opacity: 0;
  filter: blur(6px);
  animation: glowIn 1s ease-out forwards;
}

@keyframes glowIn {
  0% {
    opacity: 0;
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  }
}

.home-container section .section-box .wwc-box {
  width: 600px;
  max-height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-container section .section-box .wwc-box h2 {
  color: var(--text-color);
}

.home-container section .section-box .wwc-box .icon-box {
  width: 100%;
  display: grid;
  grid-template-areas:
    "icon1 icon2"
    "icon3 icon4";
  row-gap: 25px;
  column-gap: 25px;
  padding: 10px;
}

.home-container section .section-box .wwc-box .icon-box .box {
  width: 100%;
  min-width: 100px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  padding: 15px;
  background: var(--card-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section-box .wwc-box .icon-box .box img {
  width: 70px;
  height: 70px;
}

.section-box .wwc-box .icon-box .box strong {
  font-size: 0.9rem;
  color: var(--text-color);
  text-align: center;
}

.section-box .wwc-box .icon-box .box p {
  font-size: 0.9rem;
  color: var(--text-color);
  text-align: center;
  text-wrap: nowrap;
}

section .section-box .wwc-box .icon-box .box:nth-child(1) strong,
section .section-box .wwc-box .icon-box .box:nth-child(1) p {
  color: #07aa6d;
}

section .section-box .wwc-box .icon-box .box:nth-child(1):hover {
  grid-area: icon1;
  box-shadow: 0 0 12px #07aa6d;
}

section .section-box .wwc-box .icon-box .box:nth-child(2) strong,
section .section-box .wwc-box .icon-box .box:nth-child(2) p {
  color: #007bff;
}

section .section-box .wwc-box .icon-box .box:nth-child(2):hover {
  grid-area: icon2;
  box-shadow: 0 0 12px #007bff;
}

section .section-box .wwc-box .icon-box .box:nth-child(3) strong,
section .section-box .wwc-box .icon-box .box:nth-child(3) p {
  color: #333;
}

section .section-box .wwc-box .icon-box .box:nth-child(3):hover {
  grid-area: icon3;
  box-shadow: 0 0 12px #333;
}

section .section-box .wwc-box .icon-box .box:nth-child(4) strong,
section .section-box .wwc-box .icon-box .box:nth-child(4) p {
  color: orange;
}

section .section-box .wwc-box .icon-box .box:nth-child(4):hover {
  grid-area: icon4;
  box-shadow: 0 0 12px orange;
}

.section-box:nth-child(2) {
  margin-top: 50px;
}

/* WHO WHAT WHY */
.section-box > .who-what-why-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.section-box .who-what-why-box h2 {
  font-size: 1.4rem;
  color: var(--text-color);
  text-align: center;
}

.section-box .who-what-why-box h3 {
  width: 80%;
  font-size: 1.2rem;
  text-align: center;
}

.section-box .who-what-why-box .www-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section-box .who-what-why-box .www-box .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-box .who-what-why-box .www-box .box strong {
  font-size: 1rem;
  color: var(--text-color);
}

.section-box .who-what-why-box .www-box .box p {
  font-size: 1rem;
  color: var(--text-color);
}

/* FEATURED */
.section-box .featured-box {
  max-width: 100%;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.section-box .featured-box img {
  width: 100%;
  max-height: 300px;
  transition: transform 0.3s ease;
}

.section-box .featured-box img:hover {
  transform: scale(1.1);
}

.section-box .featured-box .feature-msg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.section-box .featured-box .feature-msg div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-box .featured-box .feature-msg div h2 {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.section-box .featured-box .feature-msg div p {
  font-size: 1rem;
  color: var(--text-color);
  text-wrap: wrap;
}

.section-box .featured-box .feature-msg a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  background: var(--primary-color);
  cursor: pointer;
}

.section-box .featured-box .feature-msg a:hover {
  background: var(--accent-color);
}

/* RESPONSIVE MEDIA */
@media (max-width: 768px) {
  .header .title-box p {
    display: none;
  }
  .header .nav-links {
    display: none;
  }

  .home-container section .section-box {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .home-container section .section-box .img-box {
    height: 270px;
  }

  .home-container section .section-box .img-box p {
    font-size: 2.3rem;
  }

  .home-container section .section-box .wwc-box {
    width: 100%;
    height: auto;
  }

  .section-box > .who-what-why-box {
    width: 95%;
    padding: 0 20px;
    gap: 30px;
  }

  .section-box > .who-what-why-box h2 {
    margin-top: 10px;
  }

  .home-container section .section-box .wwc-box .icon-box {
    width: 100%;
    grid-template-areas: "icon1 icon2 icon3 icon4";
    column-gap: 15px;
    row-gap: 20px;
  }

  .home-container section .section-box .wwc-box .icon-box .box {
    min-width: calc(100% / 4);
    height: 220px;
  }

  /* section .section-box .wwc-box .icon-box .box:nth-child(1) {
    grid-area: icon1;
  }

  section .section-box .wwc-box .icon-box .box:nth-child(2) {
    grid-area: icon2;
  }

  section .section-box .wwc-box .icon-box .box:nth-child(3) {
    grid-area: icon3;
  }

  section .section-box .wwc-box .icon-box .box:nth-child(4) {
    grid-area: icon4;
  } */

  section .section-box:nth-child(2) {
    margin-top: 20px;
    flex-direction: column-reverse;
  }

  .section-box .who-what-why-box .www-box {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  section .section-box .img-box {
    width: 100%;
    height: 300px;
  }

  section .section-box .img-box img {
    width: 100%;
    height: 300px;
  }

  .home-container section .section-box .img-box p {
    font-size: 1.8rem;
  }

  .home-container section .section-box .wwc-box .icon-box {
    grid-template-areas:
      "icon1 icon2"
      "icon3 icon4";
  }
}
